:root {
  --color-empty-shade: #fff;
  --color-light-shade: #eaeaea;
  --color-lighter-shade: #edebe6;
  --color-dark-shade: #6f6f66;
  --color-darker-shade: #ecf3d3;
  --color-text: #2d2d26;
  --color-accent: #f4ff56;
  --color-constructive: #109d46;
  --color-destructive: #d94b03;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class^="DevsText--"] {
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
}

.DevsText--s {
  font-size: 0.75rem;
}

.DevsText--hushed {
  color: var(--color-dark-shade);
}

[class^="DevsTextHeading--"] {
  margin: 0;
  line-height: 1;
}

.DevsTextHeading--l {
  font-size: 2.5rem;
}

.DevsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  width: 100%;
}

.DevsBreak--xs {
  height: 0.5rem;
}

.DevsBreak--s {
  height: 0.75rem;
}

.DevsBreak--l {
  height: 1.75rem;
}

hr.DevsBreak--l {
  height: 1px;
  width: 100%;
  margin: 1.75rem 0;
  border: none;
  background-color: var(--color-light-shade);
}

.DevsInputSelect--root {
  width: 100%;
}

.DevsInputSelect--input {
  padding: 1rem 0.75rem;
  border: 1px solid var(--color-light-shade);
  border-bottom: 1px solid var(--color-text);
  cursor: pointer;
}

.DevsInputSelect--dropdown-container {
  display: none;
  /* position: fixed; */
  width: 100%;
  max-width: 700px;
  border: 1px solid var(--color-darker-shade);
  margin-top: 0.5rem;
  max-height: 16rem;
  overflow: auto;
  box-shadow:
    rgb(0 0 0 / 10%) 0px 0px 1px,
    rgb(0 0 0 / 13%) 0px 4px 8px;
}

.DevsInputSelect--dropdown-container-opened {
  display: block;
}

.DevsInputSelect--dropdown-item {
  padding: 1rem 0.75rem;
  background-color: var(--color-empty-shade);
  border-bottom: 1px solid var(--color-light-shade);
  cursor: pointer;
}

.DevsInputSelect--dropdown-item-highlighted {
  background-color: var(--color-lighter-shade);
}

.DevsInputSelect--dropdown-item-selected {
  font-weight: bold;
}

.DevsInputCheckbox--container {
  display: flex;
}

.DevsInputCheckbox--label {
  border: 1px solid var(--color-light-shade);
  background-color: var(--color-lighter-shade);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  width: 1.25rem;
  height: 1.25rem;
  /* cursor: pointer; */
}

.DevsInputCheckbox--label-disabled {
  cursor: progress;
}

.DevsInputCheckbox--label-checked:before {
  content: " ";
  width: 100%;
  height: 100%;
  border-color: var(--color-constructive);
  background-color: var(--color-constructive);
}

.DevsInputCheckbox--input {
  display: inline;
  opacity: 0;
  transform: translate(-16px);
}

.DevsButton {
  border: 1px solid var(--color-light-shade);
  background-color: var(--color-light-shade);
  padding: 0.5rem;
  cursor: pointer;
}

.DevsButton:hover {
  background-color: var(--color-lighter-shade);
}

.DevsButton:disabled {
  cursor: not-allowed;
}

.DevsPane {
  padding: 1rem;
  border: 1px solid var(--color-light-shade);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.DevsPane--content {
  flex: 1;
}

.DevsLoading--container {
  display: flex;
  justify-content: center;
}

.DevsError {
  margin: 4rem auto;
  max-width: 40rem;
  border: 1px solid var(--color-destructive);
  color: var(--color-destructive);
  padding: 2rem;
}

.MainContainer {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 0;
}

.FilterContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}
